.calculator_body {
    width: 450px;
    height: 550px;
    border: 1px solid;
    border-radius: 25px;
    background-color: #55B5B9;
}

.number_container {
    width: 55%;
    height:350px;
    border: 1px solid;
    margin: 0px 25px;
    display: inline-block;
    background-color: rgba(249,182,218,1);
    float: left;
    padding: 2px;
    border-radius: 25px;
}

.operator_container {
    border: 1px solid;
    display: inline-block;
    height: 285px;
    width: 80px;
    background-color:rgba(85,85,173,1);;
    margin-left: 5px;
    float: left;
    border-radius: 25px;
    margin-top: 5px;
}

.clear_container {
    display: flex;
    height: 50px;
    width:100px;
    background-color: #0a2b1d;
    float: right;
    align-content: center;
    border-radius: 25px;
}

.calculated_result_screen {
    display: block;
    height: 130px;
    width: 400px;
    margin: 20px auto;
    align-content: center;
    background-color: #CDEEF0;
    font-size: 50px;
    border-radius: 25px;
    border: 3px solid rgba(47,237,153,1);
}

.display {
    height:100%;
    width: 100%;
}

.number_button {
    background-color: rgba(239,243,128,1);
    width: 30%;
    height: 23%;
    float: left;
    margin-top: 5px;
    margin-left: 6px;
    border-radius: 25px;
    font-size: 25px;
}

.operator_button {
    background-color: rgba(176,117,249,1);
    width: 70px;
    height: 70px;
    margin: 0 auto;
    display: block;
    border-radius: 25px;
    font-size: 25px;
}

.equals_container {
    margin: 5px;
    float: left;
    width: 30%;
    height: 23%;
    display: inline-block;
}

.equals_button {
    background-color: #9696F3;
    width: 100%;
    height:100%;
    margin: 0px;
    display: inline-block;
    border-radius: 25px;
    font-size: 25px;
}

.clear_reset {
    background-color:rgba(255,125,119,1);;
    display:inline-block;
    height: 50px;
    width:50px;
    font-size: 25px;
    border-radius: 25px;
}

.clear_entry {
    background-color: #F9F65A;
    display: inline-block;
    height: 50px;
    width:50px;
    font-size: 25px;
    border-radius: 25px;
}

.column {
    display: inline-grid;
    margin-left: 10px;
}